body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #151515;
  overflow: hidden;
}

.about {
  width: 50vw;
  height: 50vh;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}

.example-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.next,
.prev {
  top: 50%;                 /* Ustawienie na środek */
  position: absolute;
  background: white;       /* Tło białe */
  border-radius: 50%;      /* Okrągłe przyciski */
  width: 60px;             /* Zwiększenie rozmiaru przycisku */
  height: 60px;            /* Zwiększenie rozmiaru przycisku */
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;         /* Zwiększenie rozmiaru tekstu */
  z-index: 1000;           /* Ustawienie wysokiego z-index, aby były widoczne */
  color: #151515;          /* Kolor tekstu */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Cień wokół przycisków */
}

.next {
  right: 10px;             /* Przyciśnij przycisk "next" do prawej */
}

.prev {
  left: 10px;              /* Przyciśnij przycisk "prev" do lewej */
  transform: scale(-1);    /* Obróć przycisk "prev" dla kierunku */
}

/* Dodajemy także styl dla img, aby upewnić się, że obrazki się zmieszczą */
img {
  max-width: 100%;         /* Dopasowanie szerokości */
  max-height: 100%;        /* Dopasowanie wysokości */
  object-fit: cover;       /* Zapewnia odpowiednie przycięcie obrazu */
}


.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
