.menu {
  display: flex;
  gap: 10px;
  right: 0; 
  margin-top: 20px;
  position: absolute;
  z-index: 20; 
}

.menu button {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.menu button:hover {
  background: linear-gradient(135deg, #497bc6 0%, #5e779b 50%, #97a7bd 100%);
}

.nasa {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  background-color: transparent; 
  border: none;
  box-shadow: none;
  padding: 20px;
  z-index: 10; 
}

.gallery {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 20px;
  z-index: 10; 
}
