
.fun-facts{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.nasa-btn{
    padding: 10px 20px;
    font-size: 60px;
    cursor: pointer;
    background-color: #45a049;
    color: white;
    border: none;
    font-weight: bold;
}
.facts{
    margin: "20px"
}